$petroleum-100             : #122e43;
$petroleum-100-notfound    : #A0ACB6;
$petroleum-50: #85939F;
$bg-color                  : #e9eef2;
$light-gray                : #F3F7FA;
$smoke-light-10            : #f4f6f8;
$smoke-sky-20              : #f0f4f9;
$smoke-sky-10              : #F4F7FA;
$smoke-blue-30             : #c1cbd4;
$smoke-100                 : #a0acb6;
$smoke-sky-70              : #dce8f4;
$bg-button-mobile-drawer   : #f3f5f8;
$glowing-sky-110           : #18a0fb;
$smoke-blue-70             : #788fa0;
$smoke-blue-30             : #c1cbd4;
$bg-platinum-card          : #172a48;
$light-table-border        : #e1e6eb;
$header-background         : #eaeef2;
$header-background-notfound: #eaeef2;
$smoke-40                  : #d5dadf;
$background-arrow          : #EEF4FC;
$glowing-sky-100: #2D9CDB;
$glowing-ruby-100: #ff4858;
$petroleum-60: #6e7f8d;
$petroleum-70: #576b7a;
$petroleum-80: #405768;
$smoke-sky-90: #d4e3f2;
$smoke-blue-70: #788FA0;
$smoke-blue-100: #416179;
$smoke-blue-80: #667f93;
$smoke-blue-70: #788fa0;
$smoke-blue-30: #c1cbd4;
$smoke-blue-20: #d3dbe1;
$smoke-light-10: #f4f6f8;
$glowing-sky: #2d9cdb;
$glowing-ruby: #ff4858;

/* Others Colors */
$white: #ffffff;
$orange: #fe7f01;
$smoke-light-100: #cbd4dc;
$otp-orange: #FA6400;
$secondary-button-hover: #f6f6f7;
$blue-paris: #009CE0;
$summary-orange: #FF7A02;
$bg-black-card: #1A1A1F;
$bg-master-card: #2A89A2;
$bg-platinum-card: #172A48;
$purple: rgba(124, 71, 191, 0.7);

$font-weight-300           : 300;
$font-weight-400           : 400;
$font-weight-600           : 600;
$font-weight-700           : 700;
$font-weight-800           : 800;
$nunito-ExtraBold          : Nunito-ExtraBold;
$nunito-Bold               : Nunito-Bold;
$nunito-SemiBold           : Nunito-SemiBold;
$nunito-Regular            : Nunito-Regular;
$nunito-Light              : Nunito-Light;
$nunitoSans-ExtraBold      : NunitoSans-ExtraBold;
$nunitoSans-Bold           : NunitoSans-Bold;
$nunitoSans-SemiBold       : NunitoSans-SemiBold;
$nunitoSans-Regular        : NunitoSans-Regular;
$nunitoSans-Light          : NunitoSans-Light;

$gradient-linear-menu      : linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
$shadow                    : 0px 34px 47px -22px rgba(34, 45, 75, 0.25);

